<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">RB+</h1>
    </div>
    <h3>Register to ReactRB demo</h3>
    <p>Create account to see it in action.</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class:"form-control", placeholder: "Email address" %>
      </div>
      <div class="form-group">
        <% if @minimum_password_length %>
          <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder: "Password, #{@minimum_password_length} characters minimum" %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder: "Password confirmation" %>
      </div>
      <div class="form-group">
        <%= f.submit "Je m'inscris !!!", class: "btn btn-success btn-block" %>
      </div>
      <%- if controller_name != 'sessions' %>
        <%= link_to "J'ai déjà un compte", new_session_path(resource_name), class: "btn btn-primary btn-block" %><br />
      <% end -%>
    <% end %>
    <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
  </div>
</div>
