<div class="loginColumns animated fadeInDown">
  <div class="row">
    <div class="col-md-6">
      <h2 class="font-bold">Welcome to REACTRB demo</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      <p><small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small></p>
    </div>
    <div class="col-md-6">
      <div class="ibox-content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class:"form-control", placeholder: "Email address" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder: "Password" %>
          </div>
          <div class="form-group">
            <%= f.submit "Je clique et go !!!", class: "btn btn-success btn-block" %>
          </div>
        <% end %>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Je n'ai pas de compte", new_registration_path(resource_name), class: "btn btn-danger btn-block" %><br />
        <% end -%>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      Copyright Example Company
    </div>
    <div class="col-md-6 text-right">
      <small>© 2014-2015</small>
    </div>
  </div>
</div>
